.cart {
display: flex;
flex-flow: row wrap;

	&-product {
		display: flex;
		flex-flow: row wrap;
		margin: 0 50px 20px 50px;
		border: 1px solid #d1d1d1;
		&-name {
			font-size: 20px;
			margin-bottom: 5px;
		}

		&-img {
			margin-bottom: 5px;
		}
	}

	&-info {
		font-size: 20px;
		float: right;
		margin-right: 200px;

		&-total-items {
			margin: 5px;
		}

		&-total-price {
			margin: 5px;
		}
	}

	&-button-checkout {
		color: red;
		font-size: 30px;
		background-color: #212121;

 &:hover {
	 font-size: 32px;
 }
	}

	&-button-add {
		font-weight: lighter;
		color: red;
		font-size: 30px;
		width: 310px;
		background-color: #212121;

		&:hover {
	 	 font-size: 32px;
	  }
	}
}
