.checkout-page {

	&-header {
		text-align: center;
		font-size: 50px;
		font-style: italic;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 20px;
		color: red;
	}
}

.checkout-page-checkout {
	background-color: #CECECE;
	border: 1px solid #000;
	margin: 20px 25% 0 25%;
	padding: 20px 0 0 20px;

	&-form {
		font-size: 18px;
		padding: 10px;

		input {
			margin: 5px;
			padding: 3px;
			text-align: center;
		}
	}

 &-shipping {
	 font-size: 25px;
	 padding-bottom: 20px;


 }

 &-billing {
	 font-size: 25px;
	 padding-bottom: 20px;
 }

 &-btn {
	 margin-left: 32%;
	 margin-bottom: 5px;
	 font-size: 30px;
	 color: red;
	 background-color: #FFF;

 }
  }
