.products-page {
display: flex;
flex-flow: row wrap;
}
.products-page-products {
	margin-left: 50px;
	margin-bottom: 30px;
	width: 400px;
	border: 1px solid white;


	&-header {
		text-align: center;
		font-size: 25px;
		margin-bottom: 20px;
	}

	&-category {
		text-align: center;
	}

	&-price {
		text-align: center;
	}
}
