.products-page-heading {
	font-size: 50px;
	font-weight: bold;
	color: #3a3a3a;
	text-align: center;
	margin-bottom: 30px;
}

.products-page-render {
display: flex;
flex-flow: row wrap;
}

.products-page-render-products {
	margin-left: 50px;
	margin-bottom: 30px;
	width: 400px;
	border-bottom: 1px solid #d1d1d1;


	&-header {
		text-align: center;
		font-size: 25px;
		margin-bottom: 20px;
	}

	&-category {
		text-align: center;
	}

	&-price {
		text-align: center;
	}
}
