.Nav {
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	background: #232323;
	border-bottom: 1px solid #000;

	&-link {
		padding: 20px 100px;
		color: #f7f7f7;
		text-decoration: none;

		&:hover {
			background-color: #3d3d3d;
}
		&.is-active {
			text-decoration: underline;
		}
	}
}
